@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline:none;
    border:none;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    transition: 0.2s linear;
}

body{
    background-color:white;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 99;
    border-bottom:#A50000;
    
}


.header section{
    display:flex;
    justify-content:space-around;
    padding-top:1rem;
    padding-bottom:1rem;
    background-color: white;
  

}

.navbar a {
    margin:0 1rem;
    font-size: 1.2rem;
    color:#A50000;
      align-items:center;
    justify-content:center;

}

.navbar a:hover{
        
    color:#A50000;
    border-bottom:  0.4rem solid #A50000;
    padding-bottom: 0.5rem;
    font-size:1.2rem;
}


    a {
   
    color: aliceblue;
    align-items: center;
    text-decoration: none;
}
    
   
    .logo{
        width: 50px;
    }
/*
    .video-backgrund {
        position: relative;
        width: 100%;
        padding-top: 56.25%; /* Proporção 16:9 (altura/largura = 9/16 = 0,5625) 
    }
    */

/*
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  */
     .tarot{
    width: 1500px;
    height:500px;
   }


    .box-1 {
           
        width: 900px;
        height: 00px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        align-items: center;
         position: absolute;
       top: 300px;
        left:300px;
        z-index:1;
       
    } 
    .informacoes{
        padding: 3px;
        color:#A50000;
        
       
    }
    
    .informacoes h1{
        color:#A50000;
        font-size:60px;
       
    }
    
    
.apresentacao{
 
    width: auto;
    padding: 10px;
    color:white;
    background-color:#A50000;
    display: flex;
    flex-direction: column;
   
}
    
.img-top{
    padding: 10px;
    margin-top: 10px;
  
}


.txt-topo-site {

    color: white;
       font-size: 15px;
    text-align: center;
    align-items: center;
   
   
   
}


.conteiner-image{
width: 200px;
height: 7rem;
width: 7rem;
border-radius: 50%;
}

.about .row{
 padding:15px;
    display: flex;
    align-items: center;
    background-color:#d3ad7f;
    flex-direction: row;
    

}
.about .row .content{
    padding: 2rem;
    
}

.about .row .content h3 {
font-size:40px;
color:#1c0472;
}

.about .row .content p{
    font-size:15px;
    color:#fff;
    padding: 1rem 0;
  text-align: justify;
}




.atuacao{
    display: flex;
    background-color:#1c0472;
    flex-direction: row;
}

.atuacao .atuacao-box{
    padding:30px ;
    margin: 20px;
       border:0,5px solid #ffffff52;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    justify-items: center;
    
   }

   

   .atuacao .atuacao-box:hover{
   transform: scale(1.05);  
   box-shadow: 0 0 20px #ffffff49 ;
   }

   .atuacao .atuacao-box img{
    width: 150px;
   }
   
   .atuacao-box h3{
    color:#1c0472;
   
   }

   .atuacao-box p{
    color:#000000;
   }

   

   .review  {
    background-color:#d3ad7f;
    padding-bottom: 10px;
    display: flex;
  
}


.title{
    font-size: 1.5rem;
    color:#A50000;
    text-align: center;
   text-transform: capitalize;
    margin: 10px;
   
    

}
.title span{
    color:#1c0472;
       margin-bottom: 2rem;
     
}




.box-container {
    display:flex;
    gap: 2rem;
    flex-direction: row;
}


.box-container .box:hover {
    background-color:#A50000;
}



 .box-container .box img{
height: 10rem;
}


 .box-container .box h3{
    color:#1c0472;
    font-size: 20px;

   
   

}


.box{
    border:3px solid #000;
    text-align: center; 
    cursor: pointer;
    margin:10px;

}
.review .box p {
    font-size:15px;
    color:#fff;
    padding: 1rem 0;
  text-align: justify;
  margin: 10px;
 



}

.review .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.review  .box h3{
    margin-top: 10px;;
font-size:15px;


}

   footer{

    padding: 20px 4%;
  background-color: #1c0472;
}


footer {
    display:flex;
    justify-content: center;
}


footer .line-footer{
    padding: 20px 0;
   
}
.borda{
    border-top:2px solid #d3ad7f;
}

footer .line-footer p i{
    color:#d3ad7f;
    font-size: 30px;

}

footer .line-footer p a{
    color:#d3ad7f;
}


.btn-social button{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    border:none;
    background-color: #d3ad7f;
    font-size: 25px;
    cursor:pointer;
    margin:5px;
    transition:.2s ;

}

.whatsapp {
    width: 70px;
    position: fixed;
    right: 70px;
    bottom: 10px;

}


   @media screen and (max-width:999px){

    
.navbar a {
    margin:0 1rem;
    font-size: 12px;
      align-items:center;
    justify-content:center;

}
.atuacao{
    display: flex;
    flex-direction: column;
}


.review  .title .box-container{
    background-color:#d3ad7f;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}
.box-container{
    font-size: 15px;
}

.about .row{
    padding:15px;
    display: flex;
    align-items: center;
    background-color:#d3ad7f;
    flex-direction: column;
}

.about .row .content h3 {
    font-size:25px;
    color:#1c0472;
    }
 .about .row .content p {
        font-size:15px;   
 }

.logo{
    width: 30px;
}


.tarot{
    width:100% ;
    height:300px;
   }


.box-1 {
       
    width: 300px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    align-items: center;
    position: absolute;
   top: 150px;
    left:10px;
    z-index:1;
    bottom: 0px;
} 
.informacoes{
    padding: 3px;
    color:#e916b4;
    
   
}

.informacoes h1{
    color:#e916b4;
    font-size:40px;
   
}

.txt-topo-site h2 {
    color: white;
    font-size: 15px;
    text-align: center;
    align-items: center;
}

 .atuacao-box{
        padding: 12px;
        margin: 200px;
        color:#d3ad7f;
        flex-direction: column;
        border:0,3px solid #ffffff52;
        background-color: #fff;
        border-radius: 5px;
        transition: 0.1s;
        text-align: center;
        justify-items: center;
        width:  auto;
        font-size: 15px;
     }  


     .whatsapp {
        width: 40px;
        position: fixed;
        right: 40px;
        bottom: 10px;
    
    }
    btn-social button{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border:none;
        background-color: #e916b4;
        font-size: 15px;
        cursor:pointer;
        margin:0 5px;
        transition:.2s ;
    
    }
    
} 